/***Global Style***/
h4{
    color: rgb(0, 140, 183);
    text-transform: uppercase
}
h6{
    color: rgb(0, 140, 183);
}

#left-col{
    background-color: rgb(183, 216, 226);
    padding-left: 0;
    text-align: center; 
    padding-top: 200;
    
}
.container{
    background-color: #ffe8e8
}

ul{
    list-style:none;
     padding-left: 0;
}

.surname{
    color:rgb(247, 161, 161);
}

#right-col h1{
    color:rgb(0, 140, 183);
    padding-top: 50;
}
#right-col h2{
        color:#ffffff;
        background-color:rgb(183, 216, 226);
}
#right-col{
    background-color: #dffff4
}
#objective{
    margin-top: 2cm;
}
.resume-head h3{
    font-size: 16px;
    color: rgb(0, 140, 183);

}

.profile-pic{
    border-radius:50%;
}
